<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Blackjack</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6.75, 0}, {50.75, 64}}</string>
			<key>spriteOffset</key>
			<string>{0.125, -0}</string>
			<key>spriteSize</key>
			<string>{50.75, 64}</string>
			<key>spriteSourceSize</key>
			<string>{64, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{185, 319}, {50.75, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Boss01</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5.5, 17.75}, {116.25, 100}}</string>
			<key>spriteOffset</key>
			<string>{-0.375, -3.75}</string>
			<key>spriteSize</key>
			<string>{116.25, 100}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {116.25, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Coin</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {16, 16}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{16, 16}</string>
			<key>spriteSourceSize</key>
			<string>{16, 16}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{118, 75}, {16, 16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>CoinBag</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1.75, 0}, {12.25, 15.75}}</string>
			<key>spriteOffset</key>
			<string>{-0.125, 0.125}</string>
			<key>spriteSize</key>
			<string>{12.25, 15.75}</string>
			<key>spriteSourceSize</key>
			<string>{16, 16}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{167, 75}, {12.25, 15.75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Coins</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0.5, 2.5}, {15, 13.5}}</string>
			<key>spriteOffset</key>
			<string>{0, -1.25}</string>
			<key>spriteSize</key>
			<string>{15, 13.5}</string>
			<key>spriteSourceSize</key>
			<string>{16, 16}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{151, 75}, {15, 13.5}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dealer1</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5.25, 0.75}, {64.75, 73.5}}</string>
			<key>spriteOffset</key>
			<string>{0.125, -0}</string>
			<key>spriteSize</key>
			<string>{64.75, 73.5}</string>
			<key>spriteSourceSize</key>
			<string>{75, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{118, 0}, {64.75, 73.5}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dealer10</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6.5, 3.5}, {62, 71}}</string>
			<key>spriteOffset</key>
			<string>{0, -1.5}</string>
			<key>spriteSize</key>
			<string>{62, 71}</string>
			<key>spriteSourceSize</key>
			<string>{75, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{132, 101}, {62, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dealer11</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6.25, 3.25}, {62.5, 69.5}}</string>
			<key>spriteOffset</key>
			<string>{0, -0.5}</string>
			<key>spriteSize</key>
			<string>{62.5, 69.5}</string>
			<key>spriteSourceSize</key>
			<string>{75, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{190, 173}, {62.5, 69.5}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dealer12</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8.75, 0.5}, {57.5, 73.75}}</string>
			<key>spriteOffset</key>
			<string>{0, 0.125}</string>
			<key>spriteSize</key>
			<string>{57.5, 73.75}</string>
			<key>spriteSourceSize</key>
			<string>{75, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{63, 246}, {57.5, 73.75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dealer13</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8.75, 2}, {57.5, 72.5}}</string>
			<key>spriteOffset</key>
			<string>{0, -0.75}</string>
			<key>spriteSize</key>
			<string>{57.5, 72.5}</string>
			<key>spriteSourceSize</key>
			<string>{75, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{63, 321}, {57.5, 72.5}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dealer14</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{9.25, 1.25}, {56.5, 72.5}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{56.5, 72.5}</string>
			<key>spriteSourceSize</key>
			<string>{75, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{122, 246}, {56.5, 72.5}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dealer15</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{9.5, 1.25}, {56, 72.5}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{56, 72.5}</string>
			<key>spriteSourceSize</key>
			<string>{75, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{179, 246}, {56, 72.5}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dealer16</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8.75, 1.75}, {57.5, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, 0.75}</string>
			<key>spriteSize</key>
			<string>{57.5, 70}</string>
			<key>spriteSourceSize</key>
			<string>{75, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{195, 101}, {57.5, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dealer2</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4.75, 2.5}, {65.5, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{65.5, 72}</string>
			<key>spriteSourceSize</key>
			<string>{75, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{183, 0}, {65.5, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dealer3</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5.25, 2}, {64.75, 71}}</string>
			<key>spriteOffset</key>
			<string>{0.125, -0}</string>
			<key>spriteSize</key>
			<string>{64.75, 71}</string>
			<key>spriteSourceSize</key>
			<string>{75, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 101}, {64.75, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dealer4</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6.5, 0.75}, {62, 73.75}}</string>
			<key>spriteOffset</key>
			<string>{0, -0.125}</string>
			<key>spriteSize</key>
			<string>{62, 73.75}</string>
			<key>spriteSourceSize</key>
			<string>{75, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 248}, {62, 73.75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dealer5</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6.5, 1.25}, {62, 73.75}}</string>
			<key>spriteOffset</key>
			<string>{0, -0.625}</string>
			<key>spriteSize</key>
			<string>{62, 73.75}</string>
			<key>spriteSourceSize</key>
			<string>{75, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 173}, {62, 73.75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dealer6</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5.25, 2.25}, {64.5, 70.5}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{64.5, 70.5}</string>
			<key>spriteSourceSize</key>
			<string>{75, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{66, 101}, {64.5, 70.5}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dealer7</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6.5, 2}, {62, 72.25}}</string>
			<key>spriteOffset</key>
			<string>{0, -0.625}</string>
			<key>spriteSize</key>
			<string>{62, 72.25}</string>
			<key>spriteSourceSize</key>
			<string>{75, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 323}, {62, 72.25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dealer8</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6.25, 1.75}, {62.5, 71.5}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{62.5, 71.5}</string>
			<key>spriteSourceSize</key>
			<string>{75, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{127, 173}, {62.5, 71.5}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dealer9</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6.25, 1.75}, {62.5, 71.5}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{62.5, 71.5}</string>
			<key>spriteSourceSize</key>
			<string>{75, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{63, 173}, {62.5, 71.5}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Insurance</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0.5}, {32, 31.5}}</string>
			<key>spriteOffset</key>
			<string>{0, -0.25}</string>
			<key>spriteSize</key>
			<string>{32, 31.5}</string>
			<key>spriteSourceSize</key>
			<string>{32, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{122, 383}, {32, 31.5}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Lose</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0.75, 1.75}, {30.5, 28}}</string>
			<key>spriteOffset</key>
			<string>{0, 0.25}</string>
			<key>spriteSize</key>
			<string>{30.5, 28}</string>
			<key>spriteSourceSize</key>
			<string>{32, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 396}, {30.5, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>MagicItem</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0.75}, {15.75, 14.75}}</string>
			<key>spriteOffset</key>
			<string>{-0.125, -0.125}</string>
			<key>spriteSize</key>
			<string>{15.75, 14.75}</string>
			<key>spriteSourceSize</key>
			<string>{16, 16}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{135, 75}, {15.75, 14.75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>MagicTool</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 1.5}, {62, 62.5}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0.75}</string>
			<key>spriteSize</key>
			<string>{62, 62.5}</string>
			<key>spriteSourceSize</key>
			<string>{64, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{122, 319}, {62, 62.5}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>No</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {28, 28}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{28, 28}</string>
			<key>spriteSourceSize</key>
			<string>{32, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{32, 396}, {28, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Rank</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {16, 8.5}}</string>
			<key>spriteOffset</key>
			<string>{0, -0.25}</string>
			<key>spriteSize</key>
			<string>{16, 8.5}</string>
			<key>spriteSourceSize</key>
			<string>{16, 16}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{118, 92}, {16, 8.5}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Win</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3.25, 1.25}, {25, 30.75}}</string>
			<key>spriteOffset</key>
			<string>{-0.25, -0.625}</string>
			<key>spriteSize</key>
			<string>{25, 30.75}</string>
			<key>spriteSourceSize</key>
			<string>{32, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{92, 394}, {25, 30.75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Yes</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {28, 28}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{28, 28}</string>
			<key>spriteSourceSize</key>
			<string>{32, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{63, 394}, {28, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minus_128</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2.25, 0.5}, {28.25, 31.5}}</string>
			<key>spriteOffset</key>
			<string>{0.375, -0.25}</string>
			<key>spriteSize</key>
			<string>{28.25, 31.5}</string>
			<key>spriteSourceSize</key>
			<string>{32, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{155, 383}, {28.25, 31.5}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plus_128</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2.25, 0.5}, {28.25, 31.5}}</string>
			<key>spriteOffset</key>
			<string>{0.375, -0.25}</string>
			<key>spriteSize</key>
			<string>{28.25, 31.5}</string>
			<key>spriteSourceSize</key>
			<string>{32, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{185, 384}, {28.25, 31.5}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>GeneratedWith</key>
		<string>SpriteHelper</string>
		<key>format</key>
		<integer>3</integer>
	</dict>
</dict>
</plist>
